# Motor de Consultas

In [ ]:
import csvms.engine

A partir da última implementação.
Mostrar todos os registros da tabela `lista_frutas`

In [ ]:
%%sql
SELECT * FROM lista_frutas

Criar duas novas tabelas chamadas `tipo_frutas` e `venda_frutas`

Recuperar o valor unitário de cada fruta

In [ ]:
%%sql
SELECT l.nm_fruta AS fruta
     , t.vl_fruta AS valor
  FROM lista_frutas l
     , tipo_frutas t
 WHERE l.tp_fruta = t.tp_fruta

Mostrar o tipo das frutas vendidas

In [ ]:
%%sql
SELECT v.cod_venda
     , l.tp_fruta
  FROM venda_frutas v
  INNER JOIN lista_frutas l ON v.nm_fruta = l.nm_fruta

Mostrar o valor total de cada venda

In [ ]:
%%sql
SELECT v.cod_venda
     , l.nm_fruta
     , v.qtd_venda
     , t.vl_fruta
     , t.vl_fruta * v.qtd_venda as total
  FROM venda_frutas v
  INNER JOIN lista_frutas l ON v.nm_fruta = l.nm_fruta
  INNER JOIN tipo_frutas t ON l.tp_fruta = t.tp_fruta

Mostrar os tipos que não possuem frutas

In [ ]:
%%sql
SELECT t.tp_fruta `tipos sem frutas`
  FROM lista_frutas l
 RIGHT JOIN tipo_frutas t ON t.tp_fruta = l.tp_fruta
 WHERE l.tp_fruta is null

Mostrar as frutas com vendas inferiores a 20

In [ ]:
%%sql
SELECT DISTINCT f.nm_fruta AS "Frutas não vendidas"
  FROM lista_frutas f
  LEFT JOIN (
SELECT v.nm_fruta
     , p.vl_fruta * v.qtd_venda as total
  FROM venda_frutas v
  INNER JOIN lista_frutas l ON v.nm_fruta = l.nm_fruta
  INNER JOIN tipo_frutas p ON l.tp_fruta = p.tp_fruta) c ON f.nm_fruta = c.nm_fruta
  WHERE c.total < 20 
     OR c.total IS NULL